/* font import */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --pale-orange: hsl(33, 100%, 98%);
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

body {
    background-color: var(--cream);
}

.container {
    width: 100vw;
    height: 100vh;
    display: inline-flexbox;
    
    
}

.card {
    max-width: 450px;
    margin: auto;

}

.top {
    background-color: var(--soft-red);
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.my-balance {
    font-size: 15px;
    font-weight: 400;
}

.balance {
    font-size: 1.5rem;
    font-weight: 700;
}

.d-flex {
    display: flex;
}

/* chart starts */
.bottom {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    
    
}

.chart-header {
    font-size: 1.5rem;
}

.chart {
    gap: 5px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--medium-brown);
    padding-bottom: 20px;
}

.data {
    flex-direction: column;
    align-items: center;
    width: 50px;
}

.amount {
    background-color: var(--dark-brown);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    order: 0;
    visibility: hidden;
    /* display: none; */
}

.bar {
    width: 90%;
    height: 60px;
    background-color: var(--soft-red);
    border-radius: 5px;
    order: 1;    
}

.day {
    order: 2;
}

.bar:hover  + .amount {
    visibility: visible;
}

.bar:hover {
    opacity: .9;
}

.bottom-footer {
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-end;

}

.bottom-footer small {
    font-size: 14px;
}

.total-balance {
    font-size: 2rem;
    font-weight: bold;
}

.increase-usage {
    text-align: end;
}

.increase-percent {
    font-weight: bold;
}




